{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonticons/css/all.css' %}" />

    <!-- Google fonts APIs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">


    <title>💵 Personal Account Registration</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top bg-body-secondary">
            <div class="container mb-2">
                <a class="navbar-brand fw-bolder text-success" href="{% url 'index' %}" alt="logo and homepage">💵TBNK</a>
            </div>
        </nav>
    </header>
    <section class="container reg-form-section">
        <form class="row g-3 form-reg" action="{% url 'personal-login' %}" method="POST">
            {% csrf_token %}
            <h2>Personal Account Registration Form</h2>
            {{ registration_form }}
            <div id="i-accName" class="form-link mb-2">Already have an account? <a href="{% url 'personal-login' %}" alt="link to business login page">Login Here</a></div>
            <div class="col-12">
                <button type="submit" class="btn btn-danger" alt="create a business account">Create an Account</button>
            </div>
        </form>
    </section>
    
    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'JS/register.js' %}"></script>
</body>

</html>