{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
  <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'fonticons/css/all.css' %}" />

  <!-- Google fonts APIs -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet" />

  <title>💵 Personal Account Registration Form</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg fixed-top bg-body-secondary">
      <div class="container mb-2">
        <a class="navbar-brand fw-bolder text-success" href="{% url 'index' %}" alt="logo and homepage">💵TBNK</a>
      </div>
    </nav>
  </header>
  <section class="container mt-5 reg-form-section">
    <form class="row g-3 form-reg" action="{% url 'admin-registration' %}" method="POST">
      {% csrf_token %}
      <h2>Personal Account Registration Form</h2>
      <div class="col-md-6">
        <label for="email" class="form-label">Email Address:</label>
        {{personal_account_registration.email}}
      </div>
      <div class="col-md-6">
        <label for="fullname" class="form-label">Full Name:</label>
        {{personal_account_registration.fullname}}
      </div>
      <div class="col-md-6">
        <label for="password1" class="form-label">Password:</label>
        {{personal_account_registration.password1}}
      </div>
      <div class="col-md-6">
        <label for="password2" class="form-label">Confirm Password:</label>
        {{personal_account_registration.password2}}
      </div>
      <div class="col-6">
        <label for="user_address" class="form-label">Address:</label>
        {{personal_account_registration.user_address}}
      </div>
      <div class="col-md-6">
        <label for="user_address2" class="form-label">Address 2:</label>
        {{personal_account_registration.user_address2}}
      </div>
      <div class="col-md-6">
        <label for="user_city" class="form-label">City:</label>
        {{personal_account_registration.user_city}}
      </div>
      <div class="col-md-6">
        <label for="user_state" class="form-label">State:</label>
        {{personal_account_registration.user_state}}
      </div>
      <div class="col-md-6">
        <label for="user_zipcode" class="form-label">Zip Code:</label>
        {{personal_account_registration.user_zipcode}}
      </div>
      <div id="i-accName" class="form-link mb-2">
        Already have an account?
        <a href="{% url 'personal-login' %}" alt="go to personal login page"
          >Login Here</a
        >
      </div>
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-danger"
          alt="create personal account"
        >
          Create an Account
        </button>
      </div>

      {%  for error in personal_account_registration.errors %}
      <p>{{error}}</p>
      {% endfor %}
    </form>
  </section>

  <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'JS/register.js' %}"></script>    
</body>
</html>
