*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #cafde8; */
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
body,
header,
nav,
main{
    background-color: #cafde8 !important;
}

.navbar-nav li a:hover{
    text-decoration: underline;
    text-decoration-color: #198754;
    text-decoration-thickness: 4px;
    text-underline-offset: 7px;
}

.navbar-nav li a:focus{
    text-decoration: underline;
    text-decoration-color: #198754;
    text-decoration-thickness: 4px;
    text-underline-offset: 7px;
}

.dropdown-menu{
    background-color: #cafde8 !important;
}

/* Hero */

.hero {
    padding: 13rem 15rem;
}

.hero h1 {
    font-size: 1.5rem;
}

.hero h4 {
    font-size: 1rem;
}

.hero p {
    font-size: .8rem;
    color: grey;
}

.hero button,
.hero button a {
    background-color: #198754;
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: .8rem;
    border-radius: 25px;
    padding: .5rem;
}

.hero button:hover,
.hero button a:hover {
    background-color: #000;
    color: #fff;
}

/* ICON */

div .icon-box{
    background-color: #198754;
    height: 18rem;
    width: 21.1rem !important;
    border-radius: 25px;
}

#services div h2{
    font-size: 1.8rem;
    text-decoration: underline;
    text-decoration-color: #000 ;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
}

.icon-box i{
    color: #fff;
    font-size: 50px;
    width: 50px;
}

/* ABOUT */
#about{
    margin: 10rem 0;
}
.about .design{
    height: 18rem;
    background-color: #89ffc8;
    border-bottom-right-radius: 15rem;
    border-top-right-radius: 15rem;
    position: relative;
}

div .about-words {
    background-color: #198754;
    position: absolute;
    top: 85rem;
    right: 1rem;
    width: 35rem;
    height: 20rem;
    border-radius: 10px;
}

.about-words div img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.about-words div p{
    color: #fff;
    font-size: 0.8rem;
}

/* CONTACT */

