{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonticons/css/all.css' %}" />

    <!-- Google fonts APIs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">


    <title>💵 Administrative Registration</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top bg-warning bg-body-secondary">
            <div class="container mb-2">
                <a class="navbar-brand fw-bolder text-success" alt="logo: takes you back to the homepage" href="{% url 'index' %}">💵TBNK</a>
            </div>
        </nav>
    </header>
    <section class="container">
        <form class="form-login bg-secondary" method="post">
            <h2>Admin Registration!</h2>
            <div class="">
                <div class="mb-3">
                    <label for="admin-name" class="form-label">Full Name:</label>
                    <input type="text" class="form-control" required id="admin-name" name="fullname" aria-describedby="fullName">
                </div>
                <div class="mb-3">
                    <label for="admin-email" class="form-label">Email address:</label>
                    <input type="email" class="form-control" required id="admin-email" name="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="admin-password" class="form-label">Password:</label>
                    <input type="password" class="form-control" required  id="admin-password" name="password">
                </div>
                <div id="p-accName" class="form-link mb-2">Already have an account<a href="{% url 'admin-login' %}" alt="go to admin login page">Login Here</a></div>
                <button type="submit" class="btn btn-danger" alt="Register">Register</button>
            </div>
        </form>
    </section>


    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'JS/register.js' %}"></script>
</body>

</html>
